:root {
  --accent: #f26522;
  --accent-blue: #0f2849;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.text-accent {
  color: var(--accent);
}
.bg-accent {
  background: var(--accent);
}
.bg-accent-blue {
  background: var(--accent-blue);
}
.divider {
  background: var(--accent);
  height: 8px;
  width: 200px;
  margin: 10px 0;
}
